* {    
    margin-top: 0;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0;
    text-align: justify;
}

header {
    margin: 12px;
    padding: 12px;
}

body {
    background-color: #252525;
}

main {
    margin-right:200px;
    margin-left: 242px;
}

main section {
    border: 3px solid;    
    color: rgb(197, 197, 197);
    margin-bottom: 10px;
}

nav {
    float: left;
    min-width: 200px;
    padding: 6px;
    margin-left: 12px;
    top: 12px;
    position: sticky;
}

footer {
    width: 100%;
}

header, footer, nav, nav a {
    color: rgba(255, 255, 0, 0.69);
}

header, nav {
    border: 3px solid;
}