* {
    text-align: justify;
}

header, footer, nav, #a {
    color: rgba(255, 255, 0, 0.69);
}

a {
    color: rgb(114, 114, 238);
}

body {
    background-color: #252525;
}

p {
    font-size: 125%;
    margin-top: 10px;
    margin-bottom: 10px;
}

li {
    font-size: 125%;
    margin-top: 10px;
    margin-bottom: 10px; 
    margin-left: 20px;
}

h1, h2, h3, h4, h5, h6 {
    color: aqua;
}

#centre {
    text-align: center;
}

#select {
    border: 2px solid rgb(30, 144, 167);
    text-align: center;
}

#main {
    border: 3px solid;    
    color: rgb(197, 197, 197);
    margin-bottom: 10px;
}